@CHARSET "UTF-8";

.rules_plugin {
  border: 1px solid #ACACAC;
  background-color: white;
  max-width:300px;
  padding: 3px;
  margin: 20px;
  min-height:100px;
}

.rules_plugin_head {
  border-bottom:1px solid #ACACAC;
  text-align: center;
  font-weight: bold;
}

.rules_plugin_head {
  border-bottom: 1px solid #ACACAC;
  text-align: center;
}

div.rules_plugin_parameter {
  font-style: italic;
  min-height: 45px;
}

ul.rules_plugin_list {
  font-style: normal;
}

li.rules_plugin_list {
  font-style: normal;
  list-style-type: none;
}

.rules_plugin_operator {
  position: relative;
  border: 1px solid #ACACAC;
  border-top: 0px none;
  background-image: url("./images/hatch.png");
  float:right;
  padding:5px;
}

.rules_plugin_child {
  position: relative;
  border:1px solid #ACACAC;  
  background-image: url("./images/hatch.png");
  background-color: white;
}